.*

/*
!/src
!/WebContent
!/lib
!/build.gradle
!/build.xml
!/ivy.xml
!/ivy-settings.xml

*.class

*.jar
*.war
*.ear

/WebContent/WEB-INF/classes/META-INF/persistence.xml
!/lib/ivy-2.2.0.jar
!.gitignore
